
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: 2em;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.offcanvas-body ul {
    padding: 0;
}

.offcanvas-body .nav-item {
    display: flex;
    align-items: center; /* Aligner l'icône et le texte */
    gap: 10px; /* Espacement entre l'icône et le texte */
    border: none; /* Supprime les bordures des éléments */
    margin-top: 20px;
    font-size: 20px;
}

.offcanvas-body .navbar-nav {
    display: flex;
    align-items: center; /* Aligner l'icône et le texte */
    gap: 10px; /* Espacement entre l'icône et le texte */
    border: none; /* Supprime les bordures des éléments */
}

.offcanvas-body .nav-item a {
    text-decoration: none; /* Supprime le soulignement */
    color: black; /* Texte en noir */
    font-weight: 500; /* Optionnel : rend le texte un peu plus épais */
}

.offcanvas-body .nav-item a:hover {
    color: #555; /* Légère variation au survol */
}

.offcanvas-body .nav-item i {
    font-size: 20px; /* Ajuste la taille des icônes */
    color: black; /* Icônes en noir */
}