<!-- <div *ngIf="showModal" class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Connexion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="mdp" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="mdp" [(ngModel)]="mdp" name="mdp" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                    <div>
                        <span>
                            Si vous n'avez pas de compte, créez en un ici:
                            <a href="/registration">
                                Créer un compte
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div>
            <h5 class="d-flex justify-content-center">Connexion</h5>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" aria-describedby="emailHelp" required >
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control"  id="mdp" [(ngModel)]="mdp" name="mdp" required>
                </div>
                <div class="mb-3">
                    <span>
                        Si vous n'avez pas de compte, créez en un ici:
                        <a href="/registration">
                            Créer un compte
                        </a>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
